---
title: Angebote
layout: page-gemeinschaft
angebote:
  - ansprechpartner: Christian
    beschreibung: >-
      Möchtest du herausfinden, welche Ideen Gott für dein Leben hat? Willst du
      Veränderung sehen und selbst erleben, was möglich ist, wenn Gott handelt?
    hervorgehoben: true
    image: /uploads/images/Kopie_von_20150712-2015-07-1222-2.jpg
    kontakt: christian.boguslawski@mavuno.de
    name: LifeGroups
    veroeffentlicht: true
  - ansprechpartner: Christian
    beschreibung: "Komm mit unseren Nachbarn aus dem Flüchtlingsheim bei einer gemütlichen Tasse Tee\_ins Gespräch und lerne neue Leute kennen."
    hervorgehoben: true
    image: /uploads/images/teetime.png
    kontakt: info@mavuno.de
    name: Teestube
    ort: 'Flüchtlingsheim, Goerzallee 307'
    veroeffentlicht: false
    zeit: "donnerstags\_17:00 - 19:00"
  - ansprechpartner: Fabian
    beschreibung: >-
      Hast du Lust auf Spiel, Spaß und Action? Hier triffst du Kinder von der 3.
      Klasse bis zur 6. Klasse, mit denen du Gott und die Welt entdecken kannst.
    hervorgehoben: true
    image: /uploads/images/ak.jpg
    kontakt: info@mavuno.de
    name: Adventure Kids
    ort: MavunoBerlin
    veroeffentlicht: false
    zeit: 'donnerstags 16:30 - 18:00'
  - ansprechpartner: Stefanie
    beschreibung: >-
      Egal, ob du noch Anfänger bist, oder schon ein echter Profi. Hier triffst
      du andere Sportbegeisterte, die ebenfalls Spaß am Volleyball spielen
      haben.
    image: /uploads/images/Volleyball.png
    kontakt: info@mavuno.de
    name: Mavuno Volleys
    ort: Sporthalle Lepsiusstr. 24-28
    veroeffentlicht: false
    zeit: 'samstags 15:30-17:00'
    hervorgehoben: false
  - ansprechpartner: Sven
    beschreibung: >-
      Wer körperlich aktiv bleiben möchte und Spaß daran hat, gemeinsam mit
      anderen durch Lichterfelde und Zehlendorf zu joggen, ist herzlich
      eingeladen, einfach dazuzustoßen.
    image: /uploads/images/asics-sportschuhe-02.jpg
    kontakt: info@mavuno.de
    name: Mavuno Runners
    ort: MavunoBerlin
    veroeffentlicht: false
    zeit: montags 19
    hervorgehoben: false
  - ansprechpartner: Sven
    beschreibung: >-
      Achtung! Nur für Männer! Einfach mal den Alltag hinter sich lassen und in
      Ruhe am Kamin sitzen - oder in der Sauna kräftig schwitzen...
    image: /uploads/images/sauna.jpg
    kontakt: info@mavuno.de
    name: Männersauna
    veroeffentlicht: false
    zeit: jeden ersten Freitag im Monat
    hervorgehoben: false
  - ansprechpartner: Sandro
    beschreibung: >-
      Hast du Lust, dich beim Bolzen so richtig zu verausgaben?Komm einfach
      dazu!
    image: /uploads/images/soccer.jpg
    kontakt: info@mavuno.de
    name: Mavuno-Soccer
    ort: Sporthalle Lepsiusstraße 24-28
    veroeffentlicht: false
    zeit: 'samstags 14tägig 14:00-15:30'
    hervorgehoben: false
  - ansprechpartner: Felicitas
    beschreibung: >-
      Du bekommst kostenlos ein Instrument und professionelle Anleitung beim
      Erlernen eines Blechblasinstrumentes. Hier musizieren Jung und Alt
      gemeinsam.
    image: /uploads/images/Kopie_von_Bl_ser.JPG
    kontakt: info@mavuno.de
    name: Bläserchor
    ort: MavunoBerlin
    veroeffentlicht: true
    zeit: 'freitags 17:00 - 18:30'
    hervorgehoben: false
  - ansprechpartner: Rainer
    beschreibung: >-
      Sich als Paar 8 Wochen lang etwas Gutes tun und Zeit zu Zweit genießen -
      egal, ob frisch verliebt oder schon jahrelang verheiratet. (Alle Gespräche
      bleiben zwischen dir und deinem Partner!) Ein Kurs des Alpha Deutschland
      e.V.
    image: /uploads/images/ehekurs_2016_01.jpg
    kontakt: info@mavuno.de
    name: Ehekurs
    veroeffentlicht: false
    hervorgehoben: false
  - ansprechpartner: Monika
    beschreibung: >-
      Für Mütter und Väter, die mehr Freude, Leichtigkeit und zugleich mehr
      Sicherheit in der Erziehung erreichen möchten. Ein 10 wöchiger Kurs des
      Kinderschutzbundes.
    image: /uploads/images/starke_kinder.jpg
    kontakt: info@mavuno.de
    name: Elternkurs
    veroeffentlicht: false
    hervorgehoben: false
  - ansprechpartner: Marit
    beschreibung: >-
      MOPS (Mothers Of PreSchoolers) sind Treffen von Müttern für Mütter mit
      Kindern im Alter von 0 bis 6 Jahren - mit Frühstück, Kinderbetreuung und
      Zeit für dich!
    hervorgehoben: true
    image: /uploads/optimized-mops.jpg
    kontakt: info@mavuno.de
    name: MOPS
    ort: MavunoBerlin
    veroeffentlicht: true
    zeit: '2. und 4. Freitag 9:30-11:30'
  - ansprechpartner: Marit
    beschreibung: >-
      Achtung! Nur für Frauen! Einfach mal den Alltag hinter sich lassen und
      entspannen... Hier triffst du andere Frauen, die, genau wie du, einen
      schönen Abend genießen wollen.
    hervorgehoben: true
    image: /uploads/images/Kopie_von_DSC_1596__1280x853_.jpg
    kontakt: info@mavuno.de
    name: Ladies night
    veroeffentlicht: true
    zeit: jeden dritten Freitag im Monat
---

{% assign veroeffentlichte_angebote = page.angebote | where: "veroeffentlicht", true %}
<div class="featured container-fluid text-banner">
  <div class="row same-height-container">
  {% assign angebote_featured = veroeffentlichte_angebote | where: "hervorgehoben", true %}

  {% for angebot in angebote_featured %}
  <div class="col-sm-4">
  <div class="thumbnail same-height">
        <div style="background-image: url('{{angebot.image}}')" class="cropped-img img-responsive"></div>
        <div class="caption">
          <h3>{{angebot.name}}</h3>
  {% assign beschreibung_size = angebot.beschreibung | size %}
  {% if beschreibung_size > 0 %}
  <p>
  {{ angebot.beschreibung | escape }}
  </p>
  {%endif%}
  {% assign zeit_size = angebot.zeit | size %}
  {% if zeit_size > 0 %}
  <p>
  <i class="fa fa-clock-o"></i>
  {{ angebot.zeit | escape }}
  </p>
  {%endif%}
  {% assign ort_size = angebot.ort | size %}
  {% if ort_size > 0 %}
  <p>
  <i class="fa fa-map-marker"></i>
  {{ angebot.ort | escape }}
  </p>
  {% endif %}
  <div style="margin-bottom: 12px;">
  <small>Ansprechpartner:</small><br>
  <a href="mailto:{{angebot.kontakt}}" class="btn btn-default" role="button"><i class="fa fa-envelope-o"> </i> {{angebot.ansprechpartner}}</a>
  </div>
        </div><!-- // caption -->
      </div><!-- // thumbnail -->
  </div><!-- // col -->
  {% endfor %}
  </div><!-- // row -->
</div><!-- // container-fluid -->

<div class="row text-box same-height-container">
  {% assign angebote_unfeatured = veroeffentlichte_angebote | where: "hervorgehoben", false %}

  {% for angebot in angebote_unfeatured %}
  <div class="col-sm-4">
  <div class="thumbnail same-height">
  <div style="background-image: url('{{angebot.image}}')" class="cropped-img img-responsive"></div>
  <div class="caption">
  <h3>{{angebot.name}}</h3>
  {% assign beschreibung_size = angebot.beschreibung | size %}
  {% if beschreibung_size > 0 %}
  <p>
  {{ angebot.beschreibung | escape }}
  </p>
  {%endif%}
  {% assign zeit_size = angebot.zeit | size %}
  {% if zeit_size > 0 %}
  <p>
  <i class="fa fa-clock-o"></i>
  {{ angebot.zeit | escape }}
  </p>
  {%endif%}
  {% assign ort_size = angebot.ort | size %}
  {% if ort_size > 0 %}
  <p>
  <i class="fa fa-map-marker"></i>
  {{ angebot.ort | escape }}
  </p>
  {% endif %}
  <div style="margin-bottom: 12px;">
  <small>Ansprechpartner:</small><br>
  <a href="mailto:{{angebot.kontakt}}" class="btn btn-default" role="button"><i class="fa fa-envelope-o"> </i> {{angebot.ansprechpartner}}</a>
  </div>
  </div><!-- // caption -->
  </div><!-- // thumbnail -->
  </div><!-- // col -->
  {% endfor %}

</div><!-- // row -->
