---
title: 21 Tage Gebet und Fasten
layout: page-gemeinschaft
rooted_termine_zeigen: false
rooted_termine:
  - titel: Startevent
    date: 2018-02-07 00:00:00
  - titel: 1. Woche
    date: 2018-02-14 00:00:00
  - titel: 2. Woche
    date: 2018-02-21 00:00:00
  - titel: Erlebnistag Gebet
    date: 2018-02-24 00:00:00
  - titel: 3. Woche
    date: 2018-02-28 00:00:00
---

<div class="row text-box">

  <div class="col-sm-6">
    <div class="rooted-area">
      <div class="rooted-box row">
        <div class="col-md-4">
          <img class="img-responsive editable" src="/uploads/1c8e036e-6735-4d7b-897c-691ac5401734.jpg" width="223" srcset="/uploads/1c8e036e-6735-4d7b-897c-691ac5401734.jpg 223w, /uploads/1c8e036e-6735-4d7b-897c-691ac5401734@2x.jpg 446w" />
        </div><!-- //col-4 -->
        <div class="col-md-8">
          <h1 class="editable">
            Herzlich willkommen!
          </h1>
          <p class="editable">
            Schon lange geh&ouml;rt Fasten zu den Praktiken geistlichen Lebens - und nicht umsonst beginnt das traditionelle Fasten in dieser Jahreszeit:&nbsp;<br /><br />Im Februar ruht die Natur, es sind keine Bl&auml;tter oder Bl&uuml;ten zu sehen, was die G&auml;rten und Parks sonst so sch&ouml;n macht. Im Herbst war das Loslassen angesagt, im Winter die Ruhe. Doch im Inneren tut sich etwas. Planzen nehmen weiter Wasser auf, vertiefen das Wurzelwerk, bereiten sich vor auf den kommenden Fr&uuml;hling, das Bl&uuml;hen und Frucht bringen.&nbsp;<br /><br />So &auml;hnlich ist das auch beim Fasten: Sch&ouml;nes loslassen, Wurzeln vertiefen, Vorbereitung auf Ernte. Nachdem das neue Jahr begonnen hat, wollen wir uns Zeit nehmen, uns fest bei Gott zu verwurzeln, ihm neu und tief zu begegnen. Seit Jahrhunderten schon ist Fasten eine wirksame Zeit sich neu zu fokussieren und (geistlich) Kraft zu tanken.&nbsp;<br /><br />Fasten ist keine religi&ouml;se Leistung, ist immer freiwillig. &nbsp;
          </p>
        </div><!-- // col-8 -->
      </div><!-- // rooted-box -->

      <div class="rooted-box">
        <h3 class="editable">
          ...
        </h3>
        <div class="editable">
          <p>...</p>
        </div>
      </div><!-- // rooted-box -->
      <div class="rooted-box text-center">
        <button type="button" data-toggle="modal" data-target="#contactModal" data-message='Ich möchte mich gerne bei Rooted anmelden. Bitte schickt mir mehr Informationen, sowie die Termine des nächsten Rooted-Kurses.' class="btn btn-support btn-lg editable">
          Melde dich jetzt an!
        </button><br />
        <a href="#" data-toggle="modal" data-target="#contactModal" class="editable">Oder sprich uns an, falls du noch Fragen hast!</a>
      </div><!-- // rooted-box -->
    </div><!-- // rooted-area -->
  </div><!-- // col-6 -->

  {% if page.rooted_termine_zeigen %}
    <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
      <div class="rooted-area">
        <div class="rooted-box rooted-area2">
          <h3 class="editable">
            Die aktuellen Termine
          </h3>
          <div class="row">
            {% for termin in page.rooted_termine %}
              <div class="col-xs-3">
                {{ termin.date | date: "%d.%m."}}
              </div><!-- // col -->
              <div class="col-xs-8">
                {{ termin.titel }}
              </div><!-- // col -->
            {% endfor %}
          </div><!-- // row -->
        </div><!-- // rooted-box -->
      </div><!-- // rooted-area2 -->
    </div><!-- // col-6 -->
  {% endif %}

</div><!-- //row -->
