---
title: ROOTED
layout: page-gemeinschaft
rooted_termine_zeigen: false
rooted_termine:
  - titel: Startevent
    date: 2018-02-07 00:00:00
  - titel: 1. Woche
    date: 2018-02-14 00:00:00
  - titel: 2. Woche
    date: 2018-02-21 00:00:00
  - titel: Erlebnistag Gebet
    date: 2018-02-24 00:00:00
  - titel: 3. Woche
    date: 2018-02-28 00:00:00
  - titel: 4. Woche
    date: 2018-03-07 00:00:00
  - titel: 5. Woche
    date: 2018-03-14 00:00:00
  - titel: 6. Woche
    date: 2018-03-21 00:00:00
  - titel: Celebration
    date: 2018-03-25 00:00:00
---

<div class="row text-box">

  <div class="col-sm-6">
    <div class="rooted-area">
      <div class="rooted-box row">
        <div class="col-md-4">
          <img src="/uploads/images/RootedFlyer.jpg" class="img-responsive editable" />
        </div><!-- //col-4 -->
        <div class="col-md-8">
          <h1 class="editable">
            Willkommen bei ROOTED (Mizizi)!
          </h1>
          <p class="editable">
            &hellip; und dem n&auml;chsten Kapitel deiner eigenen Geschichte. Ja, Gott hat bereits eine Geschichte mit dir begonnen. Entdecke seine Ideen f&uuml;r dein Leben! Lerne ihn auf eine ganz neue Art und Weise kennen und begegne ihm an Orten, an denen du ihn nicht vermutet h&auml;ttest.
          </p>
        </div><!-- // col-8 -->
      </div><!-- // rooted-box -->

      <div class="rooted-box">
        <h3 class="editable">
          Was dich erwartet...
        </h3>
        <div class="editable">
          <p>7 Wochen lang treffen wir uns in Kleingruppen.</p>
          <p>Anmelden kannst du dich jeden Sonntag am Rooted-Stand in der Kapelle oder unter rooted@mavuno.de.</p>
          <p>Der Teilnahmebeitrag betr&auml;gt 25 &euro;.</p>
          <p>&nbsp;</p>
          <h1><strong>ROOTED&nbsp;</strong>(Mizizi) f&uuml;r andere Gemeinden</h1>
          <p>Du kommst aus einer anderen Gemeinde und m&ouml;chtest auch das ROOTED (Mizizi) verwenden?</p>
          <h2><strong>Zwei unterschiedliche Versionen von ROOTED</strong></h2>
          <p>Seit 2019 gibt es eine zweite unterschiedliche Version von ROOTED in deutscher Sprache. Diese 10-Wochen-Version ist st&auml;rker an dem Material unserer amerikanischen Partnergemeinde angelehnt. Und wir freuen uns, wenn Gemeinden auch mit dieser Version gesegnet werden. Aber wir sind nicht f&uuml;r ihren "Vertrieb" zust&auml;ndig.</p>
          <p>Damit keine Verwirrung entsteht, haben wir uns in freundlicher Absprache mit unseren Partnern darauf geeinigt, in Zukunft unser Material (bisher ROOTED 1 und ROOTED 2, jeweils sieben Wochen) k&uuml;nftig "<strong>Mizizi"</strong> zu nennen - so wie es auch in allen anderen Mavuno-Gemeinen &uuml;blich ist.</p>
          <h2><strong>So kannst du Mizizi (ROOTED) einsetzen</strong></h2>
          <p>Seit es <strong>Mavuno Berlin</strong> gibt, haben andere Gemeinde von dem Material profitiert und empfehlen es anderen Gemeinden weiter. Gemeinden in Deutschland, &Ouml;sterreich und in der Schweiz.</p>
          <p>Du bist interessiert, Mizizi(ROOTED) in deiner Gemeinde einzusetzen? Sehr gern helfen wir dir dabei!</p>
          <p>Schreibe uns einfach eine E-Mail an <a href="mailto:rooted@mavuno.de">rooted@mavuno.de</a>.&nbsp;</p>
          <h2>Was bedeutet "Mizizi"?</h2>
          <p>Mizizi ist ein Wort in swahili und bedeutet "Wurzel". Ausgesprochen wird es: "Misisi" mit Betonung auf dem zweiten "i" :o)</p>
        </div>
      </div><!-- // rooted-box -->
      <div class="rooted-box text-center">
        <button type="button" data-toggle="modal" data-target="#contactModal" data-message='Ich möchte mich gerne bei Rooted anmelden. Bitte schickt mir mehr Informationen, sowie die Termine des nächsten Rooted-Kurses.' class="btn btn-support btn-lg editable">
          Melde dich jetzt an!
        </button><br />
        <a href="#" data-toggle="modal" data-target="#contactModal" class="editable">Oder sprich uns an, falls du noch Fragen hast!</a>
      </div><!-- // rooted-box -->
    </div><!-- // rooted-area -->
  </div><!-- // col-6 -->

  {% if page.rooted_termine_zeigen %}
    <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
      <div class="rooted-area">
        <div class="rooted-box rooted-area2">
          <h3 class="editable">
            Die aktuellen Termine
          </h3>
          <div class="row">
            {% for termin in page.rooted_termine %}
              <div class="col-xs-3">
                {{ termin.date | date: "%d.%m."}}
              </div><!-- // col -->
              <div class="col-xs-8">
                {{ termin.titel }}
              </div><!-- // col -->
            {% endfor %}
          </div><!-- // row -->
        </div><!-- // rooted-box -->
      </div><!-- // rooted-area2 -->
    </div><!-- // col-6 -->
  {% endif %}

</div><!-- //row -->
