---
title: ROOTED
layout: page-gemeinschaft
rooted_termine_zeigen: false
rooted_termine:
  - titel: Startevent
    date: 2018-02-07 00:00:00
  - titel: 1. Woche
    date: 2018-02-14 00:00:00
  - titel: 2. Woche
    date: 2018-02-21 00:00:00
  - titel: Erlebnistag Gebet
    date: 2018-02-24 00:00:00
  - titel: 3. Woche
    date: 2018-02-28 00:00:00
  - titel: 4. Woche
    date: 2018-03-07 00:00:00
  - titel: 5. Woche
    date: 2018-03-14 00:00:00
  - titel: 6. Woche
    date: 2018-03-21 00:00:00
  - titel: Celebration
    date: 2018-03-25 00:00:00
---

<div class="row text-box">

  <div class="col-sm-6">
    <div class="rooted-area">
      <div class="rooted-box row">
        <div class="col-md-4">
          <img src="/uploads/images/RootedFlyer.jpg" class="img-responsive editable" />
        </div><!-- //col-4 -->
        <div class="col-md-8">
          <h1 class="editable">
            Willkommen bei ROOTED
          </h1>
          <p class="editable">
            &hellip; und dem n&auml;chsten Kapitel deiner eigenen Geschichte. Ja, Gott hat bereits eine Geschichte mit dir begonnen. Entdecke seine Ideen f&uuml;r dein Leben! Lerne ihn auf eine ganz neue Art und Weise kennen und begegne ihm an Orten, an denen du ihn nicht vermutet h&auml;ttest.
          </p>
        </div><!-- // col-8 -->
      </div><!-- // rooted-box -->

      <div class="rooted-box">
        <h3 class="editable">
          Was dich erwartet...
        </h3>
        <div class="editable">
          <p>ROOTED 1 und ROOTED 2</p>
          <p>sind zwei aufeinander aufbauende Kurse.</p>
          <ul>
            <li>jeweils 7 spannende Wochen</li>
            <li>Treffen als Kleingruppe jeweils 1x in der Woche</li>
            <li>zus&auml;tzliche Highlights, die dir neue Perspektiven er&ouml;ffnen</li>
          </ul>
          <p>Anmelden kannst du dich jeden Sonntag am ROOTED-Stand in der Kapelle oder unter <a href="mailto:rooted@mavuno.de">rooted@mavuno.de</a>.</p>
          <p>Der Teilnahmebeitrag betr&auml;gt 25 &euro;.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h3>ROOTED f&uuml;r deine Gemeinde</h3>
          <p>Viele unterschiedliche Gemeinden in Deutschland, &Ouml;sterreich und auch in der Schweiz haben bereits von unserem Material profitiert und empfehlen es weiter. Dabei bieten wir individuelle M&ouml;glichkeiten, das Material zu nutzen und ggf. an die eigene Gemeinde anzupassen.</p>
          <p>Du kommst aus einer anderen Gemeinde und m&ouml;chtest auch ROOTED verwenden?</p>
          <p>Sehr gern helfen wir dir dabei!</p>
          <p>Schreibe uns einfach eine E-Mail an&nbsp;<a href="mailto:rooted@mavuno.de">rooted@mavuno.de</a>.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h3>Zwei unterschiedliche Versionen von ROOTED</h3>
          <p>Unser ROOTED-Material (ROOTED 1 und ROOTED 2) wurde aus dem bei Mavuno Kenia entstandenen Kursmaterial &bdquo;<a href="https://www.mavunochurch.org/mizizi/">Mizizi</a>&ldquo; = "verwurzelt" &uuml;bersetzt und f&uuml;r die Bed&uuml;rfnisse unserer Gemeinde kontextualisiert und angepasst.</p>
          <p>Seit 2019 gibt es eine weitere 10-w&ouml;chige deutschsprachige Version von <a href="https://www.experiencerooted.com/">ROOTED</a> aus den USA (Kalifornien). Hierbei handelt es sich um eine f&uuml;r die USA kontextualisierte Version des kenianischen Kursmaterials, die nun von dort aus ins Deutsche &uuml;bersetzt wurde. F&uuml;r den Vertrieb dieses Materials sind wir nicht zust&auml;ndig.</p>
          <p>Damit keine Verwirrung entsteht, haben wir als Gemeinde zugesagt, in Zukunft einen neuen Namen f&uuml;r unser Material (ROOTED 1 und ROOTED 2) zu suchen und auf den Ursprung unseres Materials von Mizizi hinzuweisen. Dieser Prozess ist allerdings noch nicht abgeschlossen.&nbsp;</p>
        </div>
      </div><!-- // rooted-box -->
      <div class="rooted-box text-center">
        <button type="button" data-toggle="modal" data-target="#contactModal" data-message='Ich möchte mich gerne bei Rooted anmelden. Bitte schickt mir mehr Informationen, sowie die Termine des nächsten Rooted-Kurses.' class="btn btn-support btn-lg editable">
          Melde dich jetzt an!
        </button><br />
        <a href="#" data-toggle="modal" data-target="#contactModal" class="editable">Oder sprich uns an, falls du noch Fragen hast!</a>
      </div><!-- // rooted-box -->
    </div><!-- // rooted-area -->
  </div><!-- // col-6 -->

  {% if page.rooted_termine_zeigen %}
    <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
      <div class="rooted-area">
        <div class="rooted-box rooted-area2">
          <h3 class="editable">
            Die aktuellen Termine
          </h3>
          <div class="row">
            {% for termin in page.rooted_termine %}
              <div class="col-xs-3">
                {{ termin.date | date: "%d.%m."}}
              </div><!-- // col -->
              <div class="col-xs-8">
                {{ termin.titel }}
              </div><!-- // col -->
            {% endfor %}
          </div><!-- // row -->
        </div><!-- // rooted-box -->
      </div><!-- // rooted-area2 -->
    </div><!-- // col-6 -->
  {% endif %}

</div><!-- //row -->
