---
layout: default
header_titel: Gottesdienst
header_image: /uploads/images/header-bg-min.jpg
header_zeit: 11 Uhr | Gottesdienst
header_ort: in der Kapelle
header_button_text: Mehr erfahren...
header_button_link: /gottesdienste/was-dich-erwartet.html
background_image: /uploads/images/M1-1.jpg
gottesdienst_image: /uploads/2025_03_Verwurzelt_und_Beflu%CC%88gelt.png
neuigkeiten_image: /uploads/2021-12-Newsletter-Icon.jpg
gesellschaft_rooted_image: /uploads/images/rootedweb-min.jpg
gesellschaft_andere_image: /uploads/images/Kinderbetreuung_01-min.jpg
gesellschaft_unterstuetzen_image: /uploads/images/unterstuetzen_640.jpg
gesellschaft_vermietung_image: /uploads/images/IMG_0477-min.jpg
fragen:
  - id: was-heisst-mavuno
    frage: Warum Mavuno?
    antwort: >-
      Wozu existieren Kirchen überhaupt? Braucht die Welt noch Kirchen? Mit
      diesen Fragen beschäftigte sich 1989 eine kleine Kirche in Nairobi, Kenia,
      als sie kurz vor der Schließung stand. Inzwischen ist aus dieser Kirche
      ein weltweites Netzwerk entstanden. MAVUNO KENIA (mavunochurch.org)
      unterstützt bestehende Kirchen und gründet neue Kirchen. 'Mavuno' ist
      Swaheli und bedeutet 'Ernte'. Jesus benutzt dieses Wort, als er sieht, wie
      sehr die Menschen leiden und Hilfe brauchen. Er fordert seine Nachfolger
      auf, Gott um mehr Arbeiter in der "Ernte" zu bitten. - Die Bibel,
      Matthäusevangelium 9,35 ff.
  - id: was-ist-aus-efg-lichterfelde-geworden
    frage: Was ist aus der EFG Lichterfelde geworden?
    antwort: >-
      Es handelt sich bei Mavuno Berlin noch immer um die EFG
      Berlin-Lichterfelde. Mavuno Berlin ist lediglich der neue Name, der den
      Neustart der Kirche ausdrückt.
  - id: seid-evangelisch
    frage: Seid ihr evangelisch?
    antwort: >-
      Ja. Das Evangelium, die gute Nachricht von Jesus Christus, ist Zentrum
      unseres Glaubens und Lebens.
  - id: freikirchlich-ist-das-eine-sekte
    frage: Warum freikirchlich?
    antwort: >-
      Freikirchen sind unabhängig vom Staat. Sie verzichten auf Kirchensteuern
      und finanzieren sich aus freiwilligen Spenden. Auch die Mitgliedschaft ist
      freiwillig.
---
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#CollapseNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="#">Mavuno Berlin</a-->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="CollapseNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="a-scroll editable" href="#neuhier">Neu hier?</a>
        </li>
        <li>
          <a class="a-scroll editable" href="#gottesdienste">Gottesdienste</a>
        </li>
        <li>
          <a class="a-scroll editable" href="#gemeinschaft">Angebote</a>
        </li>
        <li class="btn-primary">
          <a href="#" data-toggle="modal" data-target="#donateModal" class="editable">Spenden</a>
        </li>
      </ul>
    </div><!-- // navbar-collapse -->
  </div><!-- // container -->
</nav>

<div class="container-fluid" id="logo-top">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5">
      <img src="/uploads/logos/logowhite-shadow-min.png" class="img-responsive" />
    </div>
  </div><!-- // logo-top -->
</div>


<!-- Header -->
<header id="header" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('{{ page.header_image }}');"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ page.header_titel }}</h1>
          {% if page.header_zeit %}
            <p>
              <i class="fa fa-clock-o"></i>
              {{ page.header_zeit }}
            </p>
          {% endif %}
          {% if page.header_ort %}
            <p>
              <i class="fa fa-map-marker"></i>
              {{ page.header_ort }}
            </p>
          {% endif %}
          {% if page.header_text %}
            <p>{{ page.header_text }}</p>
          {% endif %}
          <p><a class="btn btn-lg btn-second btn-carousel" href="{{ page.header_button_link }}" role="button">{{ page.header_button_text }}</a></p>
        </div><!-- // carousel caption -->
      </div><!-- // container -->
    </div><!-- // item -->
  </div><!-- // carousel inner -->
</header>


<!-- Gesellschaft -->
<section class="container-fluid no-height padding-bottom" id="neuhier" style="background-image:url('{{ page.background_image }}');">
  <div class="row">
    <div class="col-sm-6">
      <div class="text-box text-white">
        <h1 class="editable" href="#">
          Willkommen
        </h1>
        <p class="editable" href="#">
          Komm einfach vorbei und lerne uns kennen...
        </p>
        <hr />
        <div class="editable" href="#">
          <p>Mavuno Berlin ist eine generations&uuml;bergreifende, multikulturelle Kirche, in der du Gott begegnest, die dir hilft, dein Potential zu entfalten und in der du gute Freunde findest.</p>
          <p>Sei dabei und entdecke Gottes Ideen f&uuml;r dein Leben, f&uuml;r Berlin und die Welt!</p>
        </div>
      </div><!-- // text box -->
    </div><!-- // col 6 info -->
    <div class="col-sm-6 col-img hidden-xs col-img-pad">
      <img src="/uploads/images/Kirche_04.jpg" class="img-responsive gesellschaft__image editable" href="#" />
    </div><!-- // col 6 bild -->
  </div><!-- //row -->

  <div class="row neuhier__flexcontainer">
    <a class="black-box neuhier-box" href="/neuhier/wer-wir-sind">
      <i class="fa fa-users fa-4x"></i>
      <div>
        <h3 class="editable" href="#">
          Wer wir sind
        </h3>
        <div class="hidden-xs editable" href="#">
          <p>Wir stellen uns vor</p>
        </div>
      </div>
    </a>

    <a class="black-box neuhier-box" href="/neuhier/was-uns-motiviert">
      <i class="fa fa-child fa-4x"></i>
      <div>
        <h3 class="editable" href="#">
          Was uns motiviert
        </h3>
        <div class="hidden-xs editable" href="#">
          <p>Ein liebender Gott</p>
        </div>
      </div>
    </a>

    <a class="black-box neuhier-box" href="/neuhier/was-uns-praegt">
      <i class="fa fa-book fa-4x"></i>
      <div>
        <h3 class="editable" href="#">
          Was uns pr&auml;gt
        </h3>
        <div class="hidden-xs editable" href="#">
          <p>Eine Kirche mit mehr als 100 Jahren Geschichte...</p>
        </div>
      </div>
    </a>
  </div><!-- //row -->
</section><!-- //container -->


<!-- Gottesdienste -->
<section id="gottesdienste" class="container-fluid section-light no-height">
  <div class="row">
    <div class="col-sm-6 col-img-pad">
      <h3 class="visible-xs text-center editable" href="#">
        Gottesdienst
      </h3>
      {% assign godi_image_string_size = page.gottesdienst_image | size %}
      {% assign last_predigtreihe = site.gottesdienstreihen | where: "aktiv", true | sort: 'start_date' | last %}
      <img src="{% if godi_image_string_size > 1 %}{{ page.gottesdienst_image }}{% else %}{{ last_predigtreihe.image }}{% endif %}" class="img-responsive" />
    </div><!-- // col 6 bild -->
    <div class="col-sm-6">
      <div class="text-box text-center">
        <h4 class="hidden-xs">Gottesdienst</h4>
        <h1>
          <span class="editable" href="#">Live-Gottesdienste</span>
          <br />
          <small class="editable" href="#">Außerdem: Online-Predigten auf unserem YouTube-Kanal</small>
        </h1>

        <a href="#nochfragen">
          <i class="fa fa-map-marker"></i>
          <span class="editable" href="#">Billy-Wilder-Promenade 4, 14167 Berlin</span>
        </a>
        <hr />
        <a href="/gottesdienste/was-dich-erwartet.html" class="btn-second btn-box editable">Was dich erwartet</a>
        <br />
        <a href="/gottesdienste/predigten" class="btn-second btn-box editable">
          <i class="fa fa-download"></i>&nbsp;
          <span>Predigten hören</span>
        </a>
        <br />
      </div><!-- // text box -->
    </div><!-- // col 6 info -->
  </div><!-- //row -->
</section><!-- //container -->


<!-- Gemeinschaft -->
<section id="gemeinschaft" class="container-fluid no-height" style="background-image:url('{{ page.background_image }}');">

  <div class="row">
    <div class="col-img-pad visible-xs">
      <img src="/uploads/baby-ecke-01-1.jpg" class="img-responsive editable" href="/gottesdienste/predigten" />
    </div>

    <div class="col-sm-6 ">
      <!-- col-xs-12 -->
      <div class="text-box text-center text-white">
        <h1 class="editable" href="/gottesdienste/predigten">
          Was geht?
        </h1>
        <div class="text-center editable" href="/gottesdienste/predigten">
          <p>Mit unserem Newsletter bleibst du auf dem Laufenden.</p>
          <p>kostenlos und unverbindlich</p>
        </div>
        <div class="text-center">
          <a href="http://eepurl.com/gVnMb" target="blank" class="btn btn-support btn-lg editable">Newsletter bestellen!</a>
          <br />
        </div>
      </div><!-- // text box -->
    </div><!-- // col -->

    <div class="col-sm-6 col-img-pad hidden-xs">
      <img src="{{ page.neuigkeiten_image }}" class="img-responsive" />
    </div>
  </div><!-- // row -->


  <div class="gemeinschaft-links row">
    <div class="col-sm-6 col-md-3">
      <a href="/gemeinschaft/rooted">
        <div class="gemeinschaft-box" style="background-image:url('{{ page.gesellschaft_rooted_image }}');">
          <div class="gemeinschaft-label">
            <h3 class="text-right">
              <span class="editable" href="http://eepurl.com/gVnMb" target="blank">ROOTED</span>
            </h3>
          </div><!-- //gemeinschaft-label -->
        </div>
      </a>
    </div><!-- // col for btn-box -->
    <div class="col-sm-6 col-md-3">
      <a href="/gemeinschaft/angebote">
        <div class="gemeinschaft-box" style="background-image:url('{{ page.gesellschaft_andere_image }}');">
          <div class="gemeinschaft-label">
            <h3 class="text-right">
              <span class="editable" href="http://eepurl.com/gVnMb" target="blank">Weitere Angebote</span>
            </h3>
          </div><!-- //gemeinschaft-label -->
        </div><!-- //gemeinschaft-box -->
      </a>
    </div><!-- // col for btn-box -->
    <div class="col-sm-6 col-md-3">
      <a href="#gemeinschaft" data-toggle="modal" data-target="#donateModal">
        <div class="gemeinschaft-box" style="background-image:url('{{ page.gesellschaft_unterstuetzen_image }}');">
          <div class="gemeinschaft-label">
            <h3 class="text-right">
              <span class="editable" href="http://eepurl.com/gVnMb" target="blank">Unterstützen</span>
            </h3>
          </div><!-- //gemeinschaft-label -->
        </div><!-- //gemeinschaft-box -->
      </a>
    </div><!-- // col for btn-box -->
    <div class="col-sm-6 col-md-3">
      <a href="/gemeinschaft/mieten">
        <div class="gemeinschaft-box" style="background-image:url('{{ page.gesellschaft_vermietung_image }}');">
          <div class="gemeinschaft-label">
            <h3 class="text-right">
              <span class="editable" href="http://eepurl.com/gVnMb" target="blank">Mieten</span>
            </h3>
          </div><!-- //gemeinschaft-label -->
        </div><!-- //gemeinschaft-box -->
      </a>
    </div><!-- // col for btn-box -->
  </div><!-- // row -->
</section><!-- //container -->


<!-- Noch Fragen -->
<section id="nochfragen" class="container-fluid section-dark no-height">
  <div class="row">
    <div class="col-sm-6">
      <div class="text-box">
        <h1 class="editable" href="http://eepurl.com/gVnMb" target="blank">
          Wo du uns findest
        </h1>
        <div class="editable" href="http://eepurl.com/gVnMb" target="blank">
          <p>&nbsp;</p>
          <p><strong>Mavuno Berlin<strong></strong></strong><br />Evangelisch-Freikirchliche Gemeinde Berlin-Lichterfelde<strong><strong><br /><small>K&ouml;rperschaft des &ouml;ffentlichen Rechts</small><br /><br />Billy-Wilder-Promenade 4<br />14167 Berlin</strong></strong></p>
          <p>&nbsp;</p>
        </div>
        <a href="https://maps.app.goo.gl/bzBu1DnuVFJ5zikK9" target="_blank">
          <img src="/uploads/layout/map.png" alt="Karte der Adresse" class="img-responsive"/>
        </a>
      </div><!-- // text box -->
    </div><!-- // col 6 info -->

    <div class="col-sm-6">
      <div class="text-box">
        <h1 class="editable" href="http://eepurl.com/gVnMb" target="blank">
          Noch Fragen?
        </h1>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
          {% for frage in page.fragen %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-{{ frage.id }}">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ frage.id }}" aria-expanded="false" aria-controls="collapse-{{ frage.id }}">
                    <i class="fa fa-question-circle"></i>
                    {{ frage.frage | escape }}
                  </a>
                </h4>
              </div>
              <div id="collapse-{{ frage.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ frage.id }}">
                <div class="panel-body">
                  {{ frage.antwort | escape }}
                </div><!-- //panel body -->
              </div><!-- //collapse-->
            </div><!-- //panel -->
          {% endfor %}
        </div><!-- //panel group -->
      </div><!-- // text box -->
    </div><!-- // col 6 faq -->
  </div><!-- //row -->
</section><!-- //container -->
