---
layout: default
---

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="black-box container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#CollapseNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#gottesdienste">
      	<span><img src="/uploads/logos/logosmall.png" height="40" /></span>
      	Mavuno Berlin
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="CollapseNavbar">

      <ul class="nav navbar-nav navbar-right">
      	<li id="was-dich-erwartet-link" class="link on first"><a href="/gottesdienste/was-dich-erwartet">Was dich erwartet</a></li>
        <li id="predigten-link" class="link last"><a href="/gottesdienste/predigten">Predigten</a></li>
      </ul>
    </div><!-- // navbar-collapse -->
  </div><!-- // container -->
</nav>


<section class="page container-fluid" style="background-color: {% if page.background_color %}{{ page.background_color }}{% else %}#7BACBC{% endif %};" >
	<div class="white-box content">
		<header class="text-box">
			<h1>{{ page.title }}</h1>
			<hr>
		</header>
		{{content}}
	</div><!-- //content data-stellar-background-ratio="0"-->
</section>

{% include extrafragen.html %}
