<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="black-box container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#CollapseNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% if page.back_link %}{{ page.back_link }}{% else %}/{% endif %}">
      	<span><img src="/uploads/logos/logosmall.png" height="40" /></span>
      	Mavuno Berlin
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="CollapseNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li id="wer-wir-sind-link" class="link on first"><a href="/neuhier/wer-wir-sind">Wer wir sind</a></li>
        <li id="was-uns-motiviert-link" class="link"><a href="/neuhier/was-uns-motiviert">Was uns motiviert</a></li>
        <li id="was-uns-praegt-link" class="link last"><a href="/neuhier/was-uns-praegt">Was uns prägt</a></li>
      </ul>
    </div><!-- // navbar-collapse -->
  </div><!-- // container -->
</nav>

<section class="page container-fluid" style="background-color: {% if page.background_color %}{{ page.background_color }}{% else %}#7BACBC{% endif %};">
	<div class="white-box content">
		<header class="text-box">
			<h1>{{ page.title }}</h1>
			<hr />
		</header>
		{{content}}
	</div><!-- //content data-stellar-background-ratio="0"-->
</section>

<div class="page container-fluid section-dark no-height">
  <section id="lern-uns-kennen" class="row margin-height text-center">
    <h1 class="editable">
      Lern uns kennen!
    </h1>
    <p><a href="/gottesdienste/was-dich-erwartet" class="btn btn-support btn-lg editable">Besuche unseren Gottesdienst!</a></p>
    <p><a href="#" data-toggle="modal" data-target="#contactModal" class="editable">Oder sprich uns erst an!</a></p>
  </section>
</div>
