@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,400i,700,700i');

// Typography
$font-family-heading: "Noto Sans", Helvetica, Arial, sans-serif;
$font-family-base:    "Noto Serif", serif;
$base-font-size:      16px;

// Colors
$color-primary:       blue;
$color-primary-light: lighten($color-primary, 40%);
$color-primary-dark:  darken($color-primary, 25%);
$color-secondary:     darkblue;
$color-support:       orange;

$color-background:    #fdfdfd;
$color-text:          #111;
$color-link:          #828282;
$color-link-hover:    darken($color-link, 25%);

// Width of the content area
$site-width:    1024px;

@import "normalize";
