<div class="page container-fluid section-dark no-height">
  <section id="ich-will-kommen" class="text-center margin-height">
    <h1 class="editable">
      Ich will auch dabei sein!
    </h1>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h2 class="editable">
          Wann?
        </h2>
        <p class="godi-beschreibung editable">
          Jeden Sonntag im Wechsel:<br />11 Uhr Gottesdienst f&uuml;r Familien<br />11 Uhr Gottesdienst f&uuml;r Erwachsene
        </p>
      </div><!-- // col -->
      <div class="col-sm-6 col-md-4">
        <h2 class="editable">
          Wo?
        </h2>
        <p class="editable">
          Billy-Wilder-Promenade 4, 14167 Berlin
        </p>
        <div>
          <a href="https://maps.app.goo.gl/bzBu1DnuVFJ5zikK9" target="_blank">
            <img src="/uploads/layout/map.png" alt="Karte der Adresse" class="img-responsive"/>
          </a>
        </div><!-- // text box -->
      </div><!-- // col -->
      <div class="col-sm-12 col-md-4">
        <h2 class="editable">
          Noch Fragen?
        </h2>
        <ul class="text-left godi-beschreibung">
          <li><a href="/neuhier/wer-wir-sind" class="editable">Wer ist euer Pastor?</a></li>
          <li><a href="/neuhier/was-uns-motiviert" class="editable">Was glaubt ihr?</a></li>
          <li><a href="/gottesdienste/predigten" class="editable">Kann man eure Predigten anhören?</a></li>
          <li><a href="#" data-toggle="modal" data-target="#contactModal" class="editable">Frag uns persönlich!</a></li>
        </ul>
      </div><!-- // col -->
    </div><!-- // row -->
  </section>
</div>
