<div class="page container-fluid section-dark no-height">
  <section id="ich-will-kommen" class="text-center margin-height">
    <h1 class="editable">
      Ich will auch dabei sein!
    </h1>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h2 class="editable">
          Wann?
        </h2>
        <p class="godi-beschreibung editable">
          Jeden Sonntag im Wechsel:<br />11 Uhr Gottesdienst f&uuml;r Familien<br />11 Uhr Gottesdienst f&uuml;r Erwachsene
        </p>
      </div><!-- // col -->
      <div class="col-sm-6 col-md-4">
        <h2 class="editable">
          Wo?
        </h2>
        <p class="editable">
          Billy-Wilder-Promenade 4, 14167 Berlin
        </p>
        <div class="embed-responsive">
          <iframe class="embed-responsive-item" width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ-yRf1a1bqEcRQVTmebRHMd8&key=AIzaSyBIGCH2NOvamE3sJxv8c_WtVyV-2Weu3kA" allowfullscreen></iframe>
        </div><!-- // text box -->
      </div><!-- // col -->
      <div class="col-sm-12 col-md-4">
        <h2 class="editable">
          Noch Fragen?
        </h2>
        <ul class="text-left godi-beschreibung">
          <li><a href="/neuhier/wer-wir-sind" class="editable">Wer ist euer Pastor?</a></li>
          <li><a href="/neuhier/was-uns-motiviert" class="editable">Was glaubt ihr?</a></li>
          <li><a href="/gottesdienste/predigten" class="editable">Kann man eure Predigten anhören?</a></li>
          <li><a href="#" data-toggle="modal" data-target="#contactModal" class="editable">Frag uns persönlich!</a></li>
        </ul>
      </div><!-- // col -->
    </div><!-- // row -->
  </section>
</div>
