<footer class="container-fluid section-dark">
  <div class="row">
    <div id="kontakt" class="col-xs-12 col-sm-4 col-md-4">
      <div class="col-xs-offset-2 col-xs-10 col-md-12">
        <h4 class="editable">Sprich uns an...</h4>
        <h5>
          <a href="https://www.facebook.com/Mavuno-Berlin-217099715011720/" target="_blank"><i class="fa fa-facebook"></i></a> |
          <a href="mailto:info@mavuno.de" id=""> <i class="fa fa-envelope-o"></i></a> |
          <a href="#" data-toggle="modal" data-target="#contactModal" class="editable">Kontaktformular</a>
        </h5>
      </div>
    </div><!-- // col sm 12 -->

    <div id="sitemap" class="col-xs-12 col-sm-8 col-md-5">
      <div class="col-md-6 col-sm-4 col-lg-4">
        <h4 class="editable">Neu hier?</h4>
        <li id="wer-wir-sind-link" class="link first"><a href="/neuhier/wer-wir-sind">Wer wir sind</a></li>
        <li id="was-uns-motiviert-link" class="link"><a href="/neuhier/was-uns-motiviert">Was uns motiviert</a></li>
        <li id="was-uns-praegt-link" class="link last"><a href="/neuhier/was-uns-praegt">Was uns prägt</a></li>
      </div><!-- //col -->
      <div class="col-md-6 col-sm-4 col-lg-4">
        <h4 class="editable">Gottesdienste</h4>
        <li id="was-dich-erwartet-link" class="link first"><a href="/gottesdienste/was-dich-erwartet">Was dich erwartet</a></li>
        <li id="predigten-link" class="link last"><a href="/gottesdienste/predigten">Predigten</a></li>
      </div><!-- //col -->
      <div class="col-md-6 col-sm-4 col-lg-4">
        <h4 class="editable">Angebote</h4>
        <li id="rooted-link" class="link first"><a href="/gemeinschaft/rooted">ROOTED</a></li>
        <li id="angebote-link" class="link"><a href="/gemeinschaft/angebote">Weitere Angebote</a></li>
        <li id="mieten-link" class="link last"><a href="/gemeinschaft/mieten">Mieten</a></li>
      </div><!-- //col -->
    </div><!-- //col -->

    <div id="legal" class="col-xs-12 col-md-3">
      <h4 class="hidden-sm">
        EFG Berlin-Lichterfelde<span class="hidden-xs hidden-md hidden-lg">, </span><br class="hidden-sm">
      </h4>
      <small class="hidden-xs hidden-md hidden-lg">EFG Berlin-Lichterfelde, </small>
      <small>
        Bank: Spar- und Kreditbank Bad Homburg<span class="hidden-xs hidden-md hidden-lg">, </span><br class="hidden-sm">
        IBAN: DE03 5009 2100 0000 1079 05<span class="hidden-xs hidden-md hidden-lg">, </span><br class="hidden-sm">
        BIC: GENODE51BH2 <br class="hidden-sm"><br>
        <a href="/impressum"> Impressum</a> |
        <a href="/datenschutz"> Datenschutzerklärung</a> <br class="hidden-sm"><span class="hidden-xs hidden-md hidden-lg"> | </span>

        &copy; Mavuno Berlin 2018
      </small>
    </div><!-- //col -->

  </div><!-- //row -->
</footer>
